 input:not([type]).input_tahun {
     width: 75px;
     padding: 10px;
     margin-bottom: 10px;
     border: none;
     box-shadow: 2px 2px 10px #000000;
     border-radius: 5px;
     color: black;
     background-color: white;
     border-bottom: initial;
     outline: initial;
     height: initial;
     width: initial;
     font-size: initial;
     box-sizing: initial;
     transition: initial;
 }

 input:not([type]).input_tggl {
     padding: 10px;
     margin-bottom: 10px;
     border: none;
     box-shadow: 2px 2px 10px #000000;
     border-radius: 5px;
     color: black;
     background-color: white;
     border-bottom: initial;
     outline: initial;
     height: initial;
     width: initial;
     font-size: initial;
     box-sizing: initial;
     transition: initial;
 }

 body {
     font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height: 1.7;
     background-size: contain;
 }

 .list {
     padding: 5px 10px;
     background: #efefef;
     margin-bottom: 5px;
 }

 .button {
     margin-bottom: 10px;
     padding: 10px;
     background: #778ca3;
     border: none;
     border-bottom: 2px solid rgba(50, 50, 50, .1);
     border-radius: 3px;
     color: #fff;
     padding: 0 15px;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     font-size: .85em;
     font-weight: 700;
     height: 40px;
     line-height: 40px;
     text-transform: uppercase;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-appearance: none;
     -webkit-backface-visibility: hidden;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
     transition: all .3s;
 }

 #w9-kalkulator {
     background-image: url("img/weton.jpg");
     background-color: white;
     color: #000;
     padding: 20px 5% 20px 5%;
     border-radius: 5px;
     box-shadow: 3px 3px 10px 2px #afafaf;
     background-size: cover;
 }

 #w9-kalkulator h2 {
     line-height: 1;
 }

 select.kal-select {
     margin: 0px 3px 10px 3px !important;
     width: 110px !important;
     font-size: 15px !important;
     padding: 0px 10px !important;
     height: 39px !important;
     border: none;
     box-shadow: 2px 2px 10px #000000;
     border-radius: 5px;
     background-color: white;
     display: initial;
     color: black;
 }

 #hasil {
     padding: 10px;
     border: 1px solid white;
     border-radius: 5px;
     margin-top: 20px;
 }

 /* The Modal (background) */
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
 }

 /* Modal Content/Box */
 .modal-content {
     background-color: #fefefe;
     margin: 15% auto;
     /* 15% from the top and centered */
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
     /* Could be more or less, depending on screen size */
 }

 /* The Close Button */
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     margin-top: -17px;
 }

 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }

 .info {
     padding: 10;
     background: darkturquoise;
     border-radius: 5px;
     color: white;
     text-align: center;
 }
