body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    background: #EDF1FF
}

nav {
    position: fixed;
    z-index: 999;
    bottom: 0;
}

.list_ctt {
    margin-bottom: 0px;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.side-nav li > a {
    padding: 0 16px;
}

.side-nav .divider {
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
}

.sidenav-header {
    background-size: cover;
    margin-bottom: 0px;
    padding: 15px 0 0 15px;
}

.sidenav-header .row {
    margin-bottom: 0;
}

.sidenav-footer {
    margin-bottom: 0px;
    padding: 0;
}

.sidenav-footer .row {
    margin-bottom: 0;
}

.sidenav-footer .row .social-icons a {
    opacity: 0.5;
    padding: 0;
    text-align: center;
}

.sidenav-footer .row .social-icons a:hover {
    background-color: inherit;
    opacity: 1;
}

.alertinfo {
	margin-top: 0px;
    position: relative;
    padding: 16px 20px 16px 50px;
    background: #e1f5fe;
    color: #3c4043;
    font-size: .85rem;
    font-family: var(--fontB);
    line-height: 1.6em;
    border-radius: 0px;
    overflow: hidden
}

.alertinfo::before {
    content: '';
    width: 60px;
    height: 60px;
    background: #FF0B00;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -12px;
    opacity: .1
}

.alertinfo::after {
    content: '\26A0';
    position: absolute;
    left: 18px;
    top: 16px;
    font-size: 20px;
    min-width: 15px;
    text-align: center;
	color: red;
}
